$bgcolor: #eee;

/* ============================================================
   Project:
   Author:  Nathan T. Baker
   Created:
   Notes:   I did this while in Nashville Software School. 4e6679
   ============================================================ */

/* ===GLOBAL=== */

body {
  background-color: #eee;
  margin: 0;
  min-width: 400px;
}

.main {
  background-color: white;
  padding: 15px 30px 20px 30px;
}

/* ===Header=== */

header {
  background-color: $bgcolor;
  padding: 25px 25px 0 30px;
  margin: 0px;
}

#settings {
  padding: 8px 0;
}

/*On medium*/
@media screen and (max-width: 992px) {
  #settings {
    margin-top: 10px;
  }
}

#logo {
  height: 65px;
  margin: -8px 0 15px 0;
  padding: 0;
}

/*On medium*/
@media screen and (max-width: 992px) {
  .logo-wrapper {
    text-align: center;
  }
}

/*On medium*/
@media screen and (max-width: 992px) {
  #logo {
    height: 65px;
    margin: 5px 0 20px 0;
  }
}


.logo-wrapper {

}

#tagline {
}

.social {
  text-align: right;
  color: grey;
}

#input {
  height: 50px;
  font-size: 1.5em;
  padding: 0;
  font-weight: 300;
  margin: 0;
}

/*On medium*/
@media screen and (max-width: 992px) {
  #input {
    font-size: 1em;
    font-weight: 500;
    padding: 0;
  }
  .btn-secondary {
    font-size: .9em;
    font-weight: 500;
    text-align: center;
  }
}

/*On small*/
@media screen and (max-width: 768px) {
  #input {
    border-radius: 8px 8px 0 0;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0;
  }
  .btn-secondary {
    border-radius: 0 0 8px 8px;
    font-size: 1.2em;
    font-weight: 500;
  }
}

.nav-link {
  background-color: #ccc;
  height: 48px;
}

.nav-tabs {
  padding: 0;
  border-bottom: 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  margin: 25px 0 0 0;
}




/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/

/* Large devices (large desktops, 1200px and up) */





.nav-tabs a,
.nav-tabs a:focus,
.nav-tabs a:click,
{
  color: #555555;
  background-color: #eee;
  border-bottom: 0;
}

.nav-tabs .active, .nav-tabs .active:visited {
  background-color: white;

}

.nav-tabs li {
  padding: 0 4px;
  margin: 0;

}

.nav-tabs li a {
 color: #333;
 padding-top: 8px;
}

/* === Search === */

.btn {
  height: 50px;

}

.btn-secondary {
  background-color: #b2cfe2;
}


/* === Login Button === */

.g-signin2 {

}

.login {

}

.abcRioButton {
  width: 100% !important;
  background-color: #eee !important;
  border-radius: 10px !important;
}

/* ===Stats=== */

.statbox {
  min-height: 300px;
  margin: 0;
  padding: 0 10px;
}

ol {
  margin: 0;
  padding: 10px 0 0 15px;
}

li {

}

.kpi-label {
  text-align: center;
}

.kpi {
  font-size: 3.5em;
  color: #3382c4;
  text-align: center;
  font-weight: lighter;
  line-height: 1.4em;
  padding-top: 5px;
}

// Shelf

.shelf {

}

.shelf-bottom {
  margin: 0px;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  float: none;
  background: url("../images/shelf-middle.png");
}

.shelf-left {
  margin: 0 10px 0 0;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  float: none;
  background: url("../images/shelf-left.png") left no-repeat;
}

.shelf-right {
  margin: 0 10px 0 0;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  float: none;
  background: url("../images/shelf-right.png") right no-repeat;
}

.gravity {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 50px;
}

.shelf-img {
  margin: 0 8px;
  width: 150px;
  background-color: #222;
}
.shelf-shadowed {
    margin: 0 8px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.shelf-shadowed::before {
    margin: 0 8px;
    width: 10px;
    height: 100%;
    background-color: grey;
    content:'';
    display: block;
    position: absolute;
    top: 5px;
    right: -10px;
    -webkit-transform: skew(0, 45deg);
    -moz-transform: skew(0, 45deg);
    -o-transform: skew(0, 45deg);
    -ms-transform: skew(0, 45deg);
}

/* ===Labels=== */

.label-title {
  font-family: verdana, sans-serif;
  font-size: 2em;
  margin: 0;
  color: #333;
}

/* ===FOOTER=== */

footer {
  padding: 20px 45px;
}