/* === Stats: Shelf === */

@media screen and (min-width: 768px) {


.shelf {

}

.shelf-bottom {
  margin: 0px;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  float: none;
  background: url("../images/shelf/shelf-middle.png");
}

.shelf-bottom:before {
  position: absolute;
  content: '';
  left: 23px;
  right: 20px;
  bottom: 0;
  top: 0;
  background-color: #ccc;
  border-radius: 50% /20px;
  box-shadow: #aaa 0 5px 10px;
  clip: rect(20px, auto, 50px, 0);
}

.shelf-left {
  margin: 0 10px 0 0;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  float: none;
  background: url("../images/shelf/shelf-left.png") left no-repeat;
}

.shelf-right {
  margin: 0 10px 0 0;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  float: none;
  background: url("../images/shelf/shelf-right.png") right no-repeat;
}

.gravity {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 50px;
}


.shelf-img {
  margin: 0 8px;
  max-width: 160px;
  min-width: 130px;
  background-color: #222;
  box-shadow: -8px 15px 20px #bbb;
}

.shelf-shadowed {
    margin: 0 8px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.shelf-shadowed::before {
    margin: 0 8px;
    width: 10px;
    height: 100%;
    background-color: #605852;
    content:'';
    display: block;
    position: absolute;
    top: 5px;
    right: -10px;
    -webkit-transform: skew(0, 45deg);
    -moz-transform: skew(0, 45deg);
    -o-transform: skew(0, 45deg);
    -ms-transform: skew(0, 45deg);
}

}

.shelf-table {
  text-align: left;
  margin: 25px 0px 0px 25px;
  width: 96%;
}

.shelf-table td {
  width: 20%
}

.shelf-header {
  color: #333;
}

.fire-wrapper {
    position: relative;
    max-width: 160px;
    min-width: 130px;
    margin: 0 8px;
}
.fire-wrapper .fire {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.fire-wrapper .fire {
  display: block;
  background: url("../images/fire.gif");
}
