/* === Stats: Shelf === */

// @media screen and (min-width: 768px) {

.shelf {

}

.shelf-bottom {
  margin: 0px;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  float: none;
  background: url("../images/shelf/shelf-middle.png");
}

.shelf-bottom:before {
  position: absolute;
  content: '';
  left: 23px;
  right: 20px;
  bottom: 0;
  top: 0;
  background-color: #ccc;
  border-radius: 50% /20px;
  box-shadow: #aaa 0 5px 10px;
  clip: rect(20px, auto, 50px, 0);
}

.shelf-left {
  margin: 0 10px 0 0;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  float: none;
  background: url("../images/shelf/shelf-left.png") left no-repeat;
}

.shelf-right {
  margin: 0 10px 0 0;
  height: 20px;
  width: 100%;
  position: relative;
  display: inline-block;
  float: none;
  background: url("../images/shelf/shelf-right.png") right no-repeat;
}

.gravity {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 50px;
}

.shelf-img {
  background-color: #222;
  box-shadow: -8px 15px 20px #bbb;
}

.shelf-shadowed {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.shelf-shadowed::before {
    width: 10px;
    height: 100%;
    background-color: $shadow;
    content:'';
    display: block;
    position: absolute;
    top: 5px;
    right: -10px;
    -webkit-transform: skew(0, 45deg);
    -moz-transform: skew(0, 45deg);
    -o-transform: skew(0, 45deg);
    -ms-transform: skew(0, 45deg);
}

// } /// end min-width: 768px

// Shelf Image Spacing

.shelf-img, .shelf-shadowed, .shelf-shadowed::before{
  margin: 0 16px;
}

  .shelf-img {
  min-width: 125px;
  max-width: 175px;
}

@media screen and (max-width: 1300px) {
  .shelf-img, .shelf-shadowed, .shelf-shadowed::before {
  margin: 0 14px;
}
  .shelf-img {
  min-width: 130px;
  max-width: 150px;
  }
}

@media screen and (max-width: 1100px) {
  .shelf-img, .shelf-shadowed, .shelf-shadowed::before {
  margin: 0 11px;
  }
  .shelf-img {
  min-width: 90px;
  max-width: 140px;
}
}

// Shelf on mobile

@media screen and (max-width: 900px) {
  .shelf-img, .shelf-shadowed, .shelf-shadowed::before {
  margin: 0 8px;
  }
  .shelf-bottom, .shelf-left, .shelf-right, .shelf-table, .shelf-shadowed::before, {
    visibility: hidden;
  }
  .shelf-img {
  background-color: white;
  box-shadow: none;
  max-width: 120px;
  max-height: 120px;
  margin: 10px;
  text-align: left;
  }
}

.shelf-table {
  text-align: left;
  margin: 15px 0px 0px 25px;
  width: 96%;
}

.number {
  background-color: #888;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 5px;
}

.number-hot {
  background-color: #bc1c1c;
}

// .fire-wrapper {
//     position: relative;
//     margin: 0 8px;
// }
// .fire-wrapper .fire {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: none;
//     color: #FFF;
// }
// .fire-wrapper .fire {
//   display: block;
//   background: url("../images/fire.gif");
// }
