<!-- Development index.html in root. Production index.html in dist folder -->
<html>
  <head>
    <title>BGG Stats - Track Board Games on the Rise</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/bundle.css">
  </head>
  <body>
    <header>
      <!-- Logo/tagline/social share icons  -->
      <div class="row">

        <div class="col-sm-12 col-md-1 col-lg-1 logo-wrapper">
          <img id="logo" src="../images/BGGstats.png" alt="Board Game Geek Stats">
        </div>

        <!-- Search -->
<!--           <div class="col-sm-6 col-md-6 col-lg-6">

          <input type="text" class="form-control text-center" id="input" placeholder=" BoardGameGeek Username">
          <span class="glyphicon glyphicon-search"></span>

        </div>
-->
<!--           <div class="col-sm-2 col-md-2 col-lg-2">
          <button type="button" class="btn btn-secondary btn-lg btn-block">View Stats</button>
        </div>
-->

        <!-- Tabs -->
        <div class="col-xs-10 col-sm-10 col-sm-5 col-md-4">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Board Games on the Rise</a>
            </li>
          </ul>
        </div>

      </div>
    </header>

    <div class="container-fluid" id="slot1"></div>
    <div class="container-fluid" id="slot2"></div>

    <footer class="text-center">
      <!-- Footer Text -->
      <div class="row">
        <div class="col-ex-12">
          <p>Website by <a href="http://nathantbaker.com">Nathan T. Baker!</a></p>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="dist/bundle.js" charset="utf-8"></script>
  </body>
</html>