$n1: red;
$n2: #D62896;
$n3: #B728A1;
$n4: #9928AC;
$n5: #7A28B7;
$n6: #5C29C2;
$n7: #554FC4;
$n8: #4F75C7;
$n9: #499BC9;
$n10: #43C1CC;

.number {
  background-color: #888;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  text-align: center;
  font-size: .9em;
  line-height: 1em;
  font-weight: 300;
  margin: 0 5px 0 0;
  padding: 7px 0 0 0;
  display: inline-block;
}

.n1 { background-color: $n1; }
.n2 { background-color: $n2; }
.n3 { background-color: $n3; }
.n4 { background-color: $n4; }
.n5 { background-color: $n5; }
.n6 { background-color: $n6; }
.n7 { background-color: $n7; }
.n8 { background-color: $n8; }
.n9 { background-color: $n9; }
.n10 { background-color: $n10; }