$n1:  #26BB5D;
$n2:  #259E7C;
$n3:  #24819B;
$n4:  #2364BA;
$n5:  #2347D9;
$n6:  #503FC1;
$n7:  #7E37A9;
$n8:  #AB2F91;
$n9:  #D9277A;
$n10: #D9274B;


// Standard List with Red as first item

ol {
  counter-reset:li; /* Initiate a counter */
  margin: 0;
  padding: 0;
  z-index: 3;
  position: relative;
}

ol a:link, ol a:visited {
 text-decoration: none;
 color: #333;
}

ol a:hover {
 text-decoration: none;
 color: $n3;
}

ol > li {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 0 6px 2em;
  padding: 4px 8px;
  vertical-align: middle;
  text-overflow: ellipsis;
  position:relative;
  list-style:none;
}

ol > li:first-child:before {
  background-color: $n1; // first item in list is red
}

ol > li:before {
  content:counter(li); /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  position:absolute;
  // styling for number
  top: 2px;
  left: -2.1em;
  background-color: #888;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  color: white;
  text-align: center;
  font-size: .75em;
  line-height: 1em;
  font-weight: 300;
  padding: 7.25px .5px 0 0;
}

// .Color List has a gradient of colors

ol.color-list > li:nth-child(2):before { background-color: $n2; }
ol.color-list > li:nth-child(3):before { background-color: $n3; }
ol.color-list > li:nth-child(4):before { background-color: $n4; }
ol.color-list > li:nth-child(5):before { background-color: $n5; }
ol.color-list > li:nth-child(6):before { background-color: $n6; }
ol.color-list > li:nth-child(7):before { background-color: $n7; }
ol.color-list > li:nth-child(8):before { background-color: $n8; }
ol.color-list > li:nth-child(9):before { background-color: $n9; }
ol.color-list > li:nth-child(10):before { background-color: $n10; padding: 7.5px 1px 0 0;}