/* === Stats: Shelf === */

// @media screen and (min-width: 768px) {

.shelf {
  padding-top: 20px;
}

.shelf-bottom {
  height: 15px;
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  float: none;
  background: url("../images/shelf/shelf-middle.png");
}

.shelf-bottom:before {
  position: absolute;
  content: '';
  left: 23px;
  right: 20px;
  bottom: 0;
  top: -5px;
  background-color: #ccc;
  border-radius: 50% /20px;
  box-shadow: #aaa 0 5px 10px;
  clip: rect(20px, auto, 50px, 0);
}

// .shelf-left {
//   margin: 0 15px 0 0;
//   width: 100%;
//   position: relative;
//   display: inline-block;
//   float: none;
//   background: url("../images/shelf/shelf-left.png") left no-repeat;
// }

.shelf-right {
  margin: 0 15px 0 0;
  width: 100%;
  position: relative;
  display: inline-block;
  float: none;
  background: url("../images/shelf/shelf-right.png") right no-repeat;
}

.gravity {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 50px;
}

.shelf-shadowed {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.shelf-shadowed::before {
    width: 10px;
    height: 100%;
    background-color: $shadow;
    content:'';
    display: block;
    position: absolute;
    top: 5px;
    right: -10px;
    -webkit-transform: skew(0, 45deg);
    -moz-transform: skew(0, 45deg);
    -o-transform: skew(0, 45deg);
    -ms-transform: skew(0, 45deg);
}

// } /// end min-width: 768px

// Shelf Image Spacing

.shelf-img, .shelf-shadowed, .shelf-shadowed::before{
  margin: 0 12px -5px 12px;
}

.shelf-img {
  background-color: #222;
  max-width: 135px;
  box-shadow: -8px 15px 20px #bbb;
  margin-bottom: 0;
}


@media screen and (max-width: 1300px) {
  .shelf-img, .shelf-shadowed, .shelf-shadowed::before {
  margin: 0 8px -5px 8px;
}
  .shelf-img {
  min-width: 115px;
  max-width: 150px;
  }
}

@media screen and (max-width: 1100px) {
  .shelf-img, .shelf-shadowed, .shelf-shadowed::before {
  margin: 0 6px -5px 6px;
  }
  .shelf-img {
  min-width: 90px;
  max-width: 120px;
  }
}

// Shelf on mobile

@media screen and (max-width: 900px) {
  .shelf-img, .shelf-shadowed, .shelf-shadowed::before {
  margin: 0 8px -5px 8px;
  }
  .shelf-bottom, .shelf-left, .shelf-right, .shelf-table, .shelf-shadowed::before, {
    visibility: hidden;
  }
  .shelf-img {
  box-shadow: none;
  max-width: 110px;
  max-height: 110px;
  margin: 10px;
  text-align: left;
  }
}

.shelf-table {
  text-align: center;
  padding-top: 5px;
  width: 90%;
  margin-left: 5%;
}

.shelf-table td {
  width: 20%;
}